.category-page {
   width: 100%;
   .introduction {
      width: 100%;
      background-color: #f8f8f8;
      padding: 10px 15px;
      .introduction__container {
         max-width: 1100px;
         width: 100%;
         margin: 0 auto;
         .introduction__top {
            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .introduction__share {
               position: relative;
               background-color: transparent;
               color: darkgray;
               padding-left: 25px;
               transition-duration: 0.3s;
               &:hover {
                  color: #121212;
                  &:before {
                     color: #121212;
                  }
               }
               &:before {
                  content: "\efe5";
                  font-family: "IcoFont";
                  color: darkgray;
                  font-size: 16px;
                  transition-duration: 0.3s;
                  position: absolute;
                  top: 2px;
                  left: 0;
               }
            }
         }
         .introduction__title {
            font-size: 26px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.06em;
            margin: 20px 0;
         }
      }
   }
   .products {
      width: 100%;
      background-color: #f8f8f8;
      padding: 30px 15px 50px;
      background-color: #fff;
      .products__container {
         max-width: 1100px;
         width: 100%;
         margin: 0 auto;
         .products__actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid black;
            margin-bottom: 30px;
            .products__filter {
               .products__filter-button {
                  letter-spacing: 0.06em;
                  background-color: transparent;
                  text-transform: uppercase;
                  color: darkgray;
                  font-size: 16px;
                  position: relative;
                  padding-left: 40px;
                  transition-duration: 0.3s;
                  &:before {
                     content: url("../../../public/images/actions_filter.png");
                     opacity: 0.6;
                     position: absolute;
                     top: -5px;
                     left: 0;
                     transition-duration: 0.3s;
                  }
                  &:hover {
                     color: #121212;
                     &:before {
                        opacity: 1;
                     }
                  }
               }
               .products__filter-menu {
               }
            }
            .products__tabs {
               max-width: 68px;
               width: 100%;
               display: flex;
               justify-content: space-between;
               .products__tabs-item {
                  width: 20px;
                  height: 20px;
                  position: relative;
                  background-color: transparent;
                  &:nth-child(1) {
                     &:before {
                        content: url("../../../public/images/actions_tabs-line.png");
                        opacity: 0.6;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition-duration: 0.3s;
                     }
                  }
                  &:nth-child(2) {
                     &:before {
                        content: url("../../../public/images/actions_tabs-grid.png");
                        opacity: 0.4;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition-duration: 0.3s;
                     }
                  }
                  &:hover {
                     &:before {
                        opacity: 1;
                     }
                  }
               }
            }
            .products__select {
               letter-spacing: 0.06em;
               background-color: transparent;
               text-transform: uppercase;
               color: darkgray;
               font-size: 16px;
               position: relative;
               padding-right: 20px;
               transition-duration: 0.3s;
               cursor: pointer;
               &:after {
                  font-family: "IcoFont";
                  content: "\eab2";
                  // color: #121212;
                  color: darkgray;
                  position: absolute;
                  top: 0;
                  right: 0;
                  transition-duration: 0.3s;
               }
               &:hover {
                  color: #121212;
                  &:after {
                     color: #121212;
                  }
               }
            }
         }
         .products__bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            .products__loader {
               width: 25px;
               height: 25px;
               background-color: #121212;
               transform: rotate(45deg);
            }
         }
      }
   }
}

@media (max-width: 900px) {
   .category-page {
      .products {
         .products__container {
            .products__content {
               grid-template-columns: repeat(3, minmax(200px, 255px));
            }
         }
      }
   }
}

@media (max-width: 680px) {
   .category-page {
      .products {
         .products__container {
            .products__content {
               grid-template-columns: repeat(2, minmax(200px, 255px));
               justify-content: center;
            }
         }
      }
   }
}

@media (max-width: 480px) {
   .category-page {
      .products {
         .products__container {
            .products__actions {
               .products__filter {
                  .products__filter-button {
                     font-size: 12px;
                     padding-left: 30px;
                  }
               }
               .products__tabs {
                  max-width: 60px;
               }
               .products__select {
                  font-size: 12px;
                  padding-right: 15px;
               }
            }
            .products__content {
               grid-template-columns: repeat(1, minmax(200px, 255px));
               justify-content: center;
            }
         }
      }
   }
}
