.header {
   width: 100%;
   &__top-container {
      max-width: 100%;
      width: 100%;
      height: 28px;
      background-color: #000000;
      padding: 0 15px;
      .header__top {
         max-width: 1100px;
         width: 100%;
         height: 100%;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         .header__info {
            max-width: 480px;
            width: 100%;
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__info-phone {
               font-weight: 500;
               // border: 1px solid red;
               padding-left: 20px;
               position: relative;
               color: #fff;
               &:before {
                  font-family: "IcoFont";
                  content: "\efbb";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
            .header__info-adress {
               font-family: "Inter", sans-serif;
               // border: 1px solid red;
               padding-left: 20px;
               position: relative;
               &:before {
                  font-family: "IcoFont";
                  content: "\ef79";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
            .header__info-time {
               // border: 1px solid red;
               padding-left: 20px;
               position: relative;
               &:before {
                  font-family: "IcoFont";
                  content: "\eedc";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
         }
         .header__social {
            max-width: 90px;
            width: 100%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__social-facebook {
               position: relative;
               width: 15px;
               height: 18px;
               &:before {
                  font-family: "IcoFont";
                  content: "\ed37";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
            .header__social-twitter {
               position: relative;
               width: 16px;
               height: 16px;
               &:before {
                  font-family: "IcoFont";
                  content: "\ed7a";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
            .header__social-instagram {
               position: relative;
               width: 16px;
               height: 16px;
               &:before {
                  font-family: "IcoFont";
                  content: "\ed46";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
            .header__social-pinterest {
               width: 16px;
               height: 16px;
               position: relative;
               &:before {
                  font-family: "IcoFont";
                  content: "\ed5d";
                  font-size: 14px;
                  color: #fff;
                  position: absolute;
                  top: 1px;
                  left: 0;
               }
            }
         }
      }
   }
   &__bottom-container {
      max-width: 100%;
      width: 100%;
      height: 66px;
      border-bottom: 4px;
      border-bottom: 2px solid #f8f8f8;
      padding: 0 15px;
      position: relative;
      .header__bottom {
         max-width: 1100px;
         width: 100%;
         height: 100%;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: #121212;
         position: relative;
         .header__logo {
            font-family: "Playfair Display SC", serif;
            font-size: 24px;
            color: #121212;
         }
         .header-navigate {
            max-width: 580px;
            width: 100%;
            .header-navigate__list {
               display: flex;
               justify-content: space-between;
               .header-navigate__item {
                  .header-navigate__link {
                     font-size: 15px;
                     color: #121212;
                  }
               }
            }
         }
         .header__actions {
            max-width: 170px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .header__search {
            }
            .header__globe {
            }
            .header__user {
            }
            .header__cart {
               position: relative;
               padding-right: 10px;
               &:before {
                  content: attr(data-count);
                  color: #fff;
                  font-size: 10px;
                  font-weight: 700;
                  text-align: center;
                  display: block;
                  height: 18px;
                  padding: 0 5px;
                  background-color: black;
                  position: absolute;
                  top: -7px;
                  left: 7px;
                  border-radius: 10px;
                  padding-top: 4px;
                  border: 1px solid #fff;
                  pointer-events: none;
               }
               .header__search-img {
                  cursor: pointer;
                  position: relative;
                  display: block;
               }
               .cart__background {
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100vh;
                  background-color: #000;
                  opacity: 0.5;
                  z-index: 100;
                  transition: 0.1s;
                  display: none;
               }
               .cart__container {
                  position: fixed;
                  top: 0;
                  bottom: 0;
                  right: -105%;
                  max-width: 380px;
                  width: 100%;
                  height: 100vh;
                  background-color: #fff;
                  overflow: hidden;
                  transition: right 0.3s;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  z-index: 100;
                  .cart__top {
                     height: auto;
                     margin-bottom: 15px;
                     .cart__introduction {
                        max-width: 100%;
                        width: 100%;
                        background-color: #000;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px;
                        margin-bottom: 15px;
                        .cart__title {
                           color: #fff;
                           font-weight: 600;
                           letter-spacing: 0.06em;
                           text-transform: uppercase;
                           padding-top: 2px;
                        }
                        .cart__close {
                           width: 20px;
                           height: 20px;
                           background-color: transparent;
                           position: relative;
                           &:before {
                              font-family: "IcoFont";
                              content: "\eee1";
                              color: #fff;
                              font-size: 25px;
                              position: absolute;
                              top: -4px;
                              left: -4px;
                              opacity: 0.7;
                              transition: opacity 0.3s;
                           }
                           &:hover:before {
                              opacity: 1;
                           }
                        }
                     }
                     .cart__navigation {
                        padding: 0 20px;
                        display: flex;
                        .cart__navigation-item {
                           color: lightgray;
                           font-size: 16px;
                           font-weight: 500;
                           cursor: pointer;
                           &._active {
                              color: #2d2d2d;
                           }
                           &:not(:last-child) {
                              margin-right: 5px;
                           }
                           span {
                              font-size: 12px;
                              color: lightgray;
                           }
                        }
                     }
                  }
                  .cart__content {
                     height: calc(100% - 300px);
                     .cart__products {
                        padding: 10px 20px;
                        overflow-y: auto;
                        height: 100%;
                        // max-height: 500px;
                        display: flex;
                        flex-direction: column;
                        .cart-product {
                           max-width: 100%;
                           width: 100%;
                           display: flex;
                           border-bottom: 2px solid #f5f5f5;
                           padding-bottom: 15px;
                           &:not(:last-child) {
                              margin-bottom: 15px;
                           }
                           .cart-product__img-container {
                              max-width: 80px;
                              min-width: 80px;
                              width: 100%;
                              max-height: 105px;
                              margin-right: 15px;
                              .cart-product__img {
                                 width: 100%;
                                 height: 100%;
                                 object-fit: cover;
                              }
                           }
                           .cart-product__content {
                              max-width: 100%;
                              width: 100%;
                              height: 105px;
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              .cart-product__info {
                                 max-width: 100%;
                                 width: 100%;
                                 .cart-product__name {
                                    color: gray;
                                    font-size: 15px;
                                    margin-bottom: 7px;
                                    line-height: 17px;
                                 }
                                 .cart-product__parameters {
                                    display: flex;
                                    .cart-product__color {
                                       font-size: 15px;
                                       margin-right: 5px;
                                       font-weight: 600;
                                       color: #2d2d2d;
                                    }
                                    .cart-product__size {
                                       font-size: 15px;
                                       font-weight: 600;
                                       color: #2d2d2d;
                                    }
                                 }
                              }
                              .cart-product__actions {
                                 max-width: 100%;
                                 width: 100%;
                                 display: flex;
                                 justify-content: space-between;
                                 align-items: center;
                                 .cart-product__counter {
                                    display: flex;
                                    .cart-product__counter-button--plus {
                                       width: 30px;
                                       height: 30px;
                                       background: #edebeb;
                                       padding-top: 3px;
                                       font-size: 20px;
                                       color: gray;
                                    }
                                    .cart-product__counter-field {
                                       height: 30px;
                                       padding: 9px 10px 0 10px;
                                       background: #edebeb;
                                       font-size: 14px;
                                       font-weight: 500;
                                       text-align: center;
                                    }
                                    .cart-product__counter-button--minus {
                                       width: 30px;
                                       height: 30px;
                                       background: #edebeb;
                                       // padding-top: 2px;
                                       color: gray;
                                       font-size: 25px;
                                    }
                                 }
                                 .cart-product__price {
                                    font-weight: 600;
                                    padding-top: 1px;
                                 }
                                 .cart-product__delete {
                                    width: 25px;
                                    height: 25px;
                                    background-color: transparent;
                                    background: url("../../../../public/images/trash.png") center no-repeat;
                                    opacity: 0.5;
                                    transition: opacity 0.3s;
                                    &:hover {
                                       opacity: 1;
                                    }
                                 }
                              }
                           }
                        }
                     }
                     .cart__empty {
                        max-width: 100%;
                        width: 100%;
                        text-align: center;
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 120%;
                     }
                  }
                  .cart__bottom {
                     padding: 20px 20px;
                     height: 100%;
                     max-height: 200px;
                     .cart__bottom-text {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;
                        .cart__bottom-total {
                           font-size: 16px;
                        }
                        .cart__bottom-price {
                           font-size: 16px;
                           color: #2d2d2d;
                           font-weight: 600;
                        }
                     }
                     .cart__bottom-buttons {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .cart__bottom-further {
                           max-width: 100%;
                           width: 100%;
                           height: 50px;
                           margin-bottom: 15px;
                           background-color: #121212;
                           text-transform: uppercase;
                           color: #fff;
                           font-weight: 400;
                           letter-spacing: 0.06em;
                           transition: background-color 0.3s, color 0.3s;
                           &:hover {
                              background-color: #fff;
                              color: #121212;
                           }
                        }
                        .cart__bottom-view {
                           max-width: 100%;
                           width: 100%;
                           height: 50px;
                           margin-bottom: 15px;
                           background-color: #fff;
                           border: 1px solid lightgray;
                           text-transform: uppercase;
                           color: #121212;
                           font-weight: 500;
                           letter-spacing: 0.06em;
                           transition: background-color 0.3s, color 0.3s;
                           &:hover {
                              background-color: #121212;
                              color: #fff;
                              font-weight: 400;
                           }
                        }
                     }
                  }
               }
               &._active {
                  .cart__background {
                     display: block;
                  }
                  .cart__container {
                     right: 0;
                  }
               }
            }
         }
         .burger {
            display: none;
            width: 30px;
            height: 28px;
            .burger__icon {
               width: 30px;
               height: 28px;
               transition-duration: 0.3s;
               background-color: transparent;
               cursor: pointer;
               padding-left: 7px;
               // position: absolute;
               // top: 20px;
               // left: 0;
               .burger__icon-line,
               .burger__icon-line:before,
               .burger__icon-line:after {
                  position: absolute;
                  top: calc(50% - 0.8px);
                  width: 30px;
                  height: 3px;
                  background-color: #2d2d2d;
                  left: 0px;
               }
               .burger__icon-line:before,
               .burger__icon-line:after {
                  transition: width 0.3s, transform 0.5s;
                  content: "";
               }
               .burger__icon-line:before {
                  transform: translateY(-10px);
               }
               .burger__icon-line:after {
                  transform: translateY(8px);
               }
            }
            .burger__background {
               position: fixed;
               top: 0;
               left: 0;
               width: 100%;
               height: 0vh;
               background-color: #fff;
               z-index: 10;
               margin-top: 94px;
               transition: 0.1s;
            }
            &._active {
               .burger__icon {
                  .burger__icon-line {
                     background-color: transparent;
                  }
                  .burger__icon-line:before {
                     transform-origin: center;
                     transform: rotate(-45deg);
                  }
                  .burger__icon-line:after {
                     transform-origin: center;
                     transform: rotate(45deg);
                  }
               }
               .burger__background {
                  height: 100vh;
               }
            }
         }
      }
   }
}

@media (max-width: 992px) {
   .header {
      &__bottom-container {
         .header__bottom {
            .header-navigate {
               max-width: 140px;
               position: absolute;
               top: 80px;
               left: 0;
               z-index: 12;
               // border: 1px solid red;
               // overflow-y: auto;
               display: none;
               .header-navigate__list {
                  flex-direction: column;
                  // overflow-y: auto;
                  // max-height: calc(100vh - 130px);
                  .header-navigate__item {
                     &:not(:last-child) {
                        margin-bottom: 20px;
                     }
                     .header-navigate__link {
                        font-size: 20px;
                        color: #121212;
                     }
                  }
               }
               &._active {
                  display: block;
               }
            }
            .burger {
               display: block;
            }
         }
      }
   }
}

@media (max-width: 668px) {
   .header {
      &__top-container {
         display: none;
      }
      &__bottom-container {
         .header__bottom {
            .burger {
               .burger__background {
                  margin-top: 65px;
               }
            }
         }
      }
   }
}

@media (max-width: 480px) {
   .header {
      &__bottom-container {
         .header__bottom {
            .header__actions {
               max-width: 70px;
               // border: 1px solid red;
               .header__search {
                  position: absolute;
                  top: 80px;
                  right: 20;
                  z-index: 13;
                  display: none;
               }
               .header__globe {
                  position: absolute;
                  top: 80px;
                  right: 8px;
                  z-index: 13;
                  display: none;
               }
               .header__cart {
                  .cart__container {
                     max-width: 100%;
                  }
               }
            }
         }
      }
      .header__actions._active {
         .header__search {
            display: block;
         }
         .header__globe {
            display: block;
         }
      }
   }
}
