.products__items {
   display: grid;
   grid-template-columns: repeat(4, minmax(200px, 255px));
   grid-template-rows: auto;
   gap: 30px 20px;
   justify-content: space-between;
   margin-bottom: 50px;
}

@media (max-width: 992px) {
   .products__items {
      grid-template-columns: repeat(3, minmax(200px, 255px));
      justify-content: center;
   }
}

@media (max-width: 750px) {
   .products__items {
      grid-template-columns: repeat(2, minmax(200px, 255px));
      justify-content: center;
   }
}

@media (max-width: 480px) {
   .products__items {
      grid-template-columns: repeat(1, minmax(200px, 255px));
      justify-content: center;
   }
}
